<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Chats</h1><br/>
    <form method="get" action="/chats/new">
        <button>New chat</button>
    </form>
    <% for(let chats of allchats){ %>
        <div class="chats">
            <div class="sender">
                <img src="<%= chats.image %>"> &nbsp; &nbsp;
                <h3><%= chats.from %></h2> 
            </div>
            <p class="message"><%= chats.message %></p>
            <p><%= chats.created_at.toString().split(" ")[4] %></p>
            <p><%= chats.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
            <form method="get" action="/chats/<%= chats._id %>/edit">
                <button>Edit chat</button>
            </form>
            <br>
            <form method="post" action="/chats/<%= chats._id %>?_method=DELETE">
                <button>DELETE</button>
            </form>
        </div>
    <% } %>
    
</body>
</html>